* {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  hsl(212, 45%, 89%);
  font-size: 15px;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 1em;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 500px) {
  .card {
    width: 350px;
    margin: 0 auto;
  }
}

.card-title {
  font-family: "Outfit" sans-serif;
  font-weight: 700;
  margin: auto 2rem;
  font-size: 1.5em;
  text-align: center;
}

p {
  font: "Outfit";
  font-weight: 400;
  text-align: center;
  margin: auto 2rem;
  margin-top: 1rem;
  height: 75px;
  color: hsl(220, 15%, 55%);
}

.content {
  margin: 1em;
}

.img {
  background: url('images/image-qr-code.png') center/cover;
  width: 576;
  height: 300px;
  margin: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}